Check out these cool store yo!

<%=link_to "Create a New Store", new_store_path%>


This is called echoing 
<ul>
  <% @stores.each do |store|%>
    <li><%=link_to store.name, store_path(store)%></li>
  <%end%>
</ul>